<html>
  <head>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-theme.min.css') }}"/>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>

    <title>Car TeleDOC</title>

    <style type="text/css">
      .center {
        float: none;
        margin-left: auto;
        margin-right: auto;
      }

      .cameraContainer {
        position: relative;
        width: 100%;
        padding-bottom: 75%;
        float: left;
        height: 0;
      }

      .camera {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
      }
    </style>

    <script type="text/javascript">
      function send_rocket_command(cmd) {
         $.post("{{ url_for('rocket') }}", {"command_id" : cmd}, function( data ) {});
      }

      $(function(){
         $(function(){
            $('#rocket-up').on('click', function(e) {
               send_rocket_command("up");
            });
         });

         $(function(){
            $('#rocket-down').on('click', function(e) {
               send_rocket_command("down");
            });
         });

         $(function(){
            $('#rocket-left').on('click', function(e) {
               send_rocket_command("left");
            });
         });

         $(function(){
            $('#rocket-right').on('click', function(e) {
               send_rocket_command("right");
            });
         });

         $(function(){
            $('#rocket-fire').on('click', function(e) {
               send_rocket_command("fire");
            });
         });
      });
    </script>
  </head>
  <body style="background-color: #CCCCCC">
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h5><small><span id="fps_counter_1"></span> fps</small></h5>
          <div class="cameraContainer">
            <div data-id="0" class="camera stream">
              <canvas width="800" height="600" id="camera_canvas_1" class="camera"></canvas>
            </div>
          </div>

          <br />

          <h5><small><span id="fps_counter_2"></span> fps</small></h5>
          <div class="cameraContainer">
            <div data-id="1" class="camera stream">
              <canvas width="800" height="600" id="camera_canvas_2" class="camera"></canvas>
            </div>
          </div>

        </div>


        <div class="col-md-1" height="40px">
          &nbsp;
        </div>

        <div class="col-md-3">
          Rocket Launcher:
          <table border="0" class="center" width="100%">
            <tr>
              <td width="33%">&nbsp;</td>
              <td width="33%"><input style="width: 100%" class="btn btn-lg btn-success"  id="rocket-up" name="up" type="button" value="Up" \></td>
              <td width="33%">&nbsp;</td>
            <tr>
            <tr>
              <td width="33%"><input style="width: 100%" class="btn btn-lg btn-success"  id="rocket-left" name="left" type="button" value="Left" \></td>
              <td width="33%"><input style="width: 100%" class="btn btn-lg btn-danger"  id="rocket-fire" name="fire" type="button" value="Fire" \></td>
              <td width="33%"><input style="width: 100%" class="btn btn-lg btn-success"  id="rocket-right" name="right" type="button" value="Right" \></td>
            <tr>
            <tr>
              <td width="33%">&nbsp;</td>
              <td width="33%"><input style="width: 100%" class="btn btn-lg btn-success"  id="rocket-down" name="down" type="button" value="Down" \></td>
              <td width="33%">&nbsp;</td>
            <tr>
          </table>

          <br />

          Movement:
          <table border="0" class="center" width="100%">
            <tr>
              <td width="33%"><input style="width: 100%" class="btn btn-lg btn-success"  id="motor-fwdleft" name="fwdleft" type="button" value="Fwd Left" \></td>
              <td width="33%"><input style="width: 100%" class="btn btn-lg btn-success"  id="motor-up" name="up" type="button" value="Up" \></td>
              <td width="33%"><input style="width: 100%" class="btn btn-lg btn-success"  id="motor-fwdright" name="fwdright" type="button" value="Fwd Right" \></td>
            <tr>
            <tr>
              <td width="33%"><input style="width: 100%" class="btn btn-lg btn-success"  id="motor-bwdleft" name="bwdleft" type="button" value="Bwd Left" \></td>
              <td width="33%"><input style="width: 100%" class="btn btn-lg btn-success"  id="motor-down" name="down" type="button" value="Down" \></td>
              <td width="33%"><input style="width: 100%" class="btn btn-lg btn-success"  id="motor-bwdright" name="bwdright" type="button" value="Bwd Right" \></td>
            <tr>
          </table>
        </div>

      </div><!-- /.container -->
  </body>
</html>
