<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <title>Web TeleDOC</title>

    <style type="text/css">
      .center {
        float: none;
        margin-left: auto;
        margin-right: auto;
      }

      .cameraContainer {
        position: relative;
        width: 100%;
        padding-bottom: 75%;
        float: left;
        height: 0;
      }

      .camera {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
      }
    </style>

    <script type="text/javascript">
      function send_command(cmd) {
         $.post("{{ url_for('command') }}", {"command_id" : cmd}, function( data ) {});
      }

      $(function(){
         $(function(){
            $('#up').on('click', function(e) {
               send_command("up");
            });
         });

         $(function(){
            $('#down').on('click', function(e) {
               send_command("down");
            });
         });

         $(function(){
            $('#left').on('click', function(e) {
               send_command("left");
            });
         });

         $(function(){
            $('#right').on('click', function(e) {
               send_command("right");
            });
         });

         $(function(){
            $('#fire').on('click', function(e) {
               send_command("fire");
            });
         });

         $(document).keydown(function(e) {
            switch(e.which) {
               case 37: // left
               send_command("left");
               break;

               case 38: // up
               send_command("up");
               break;

               case 39: // right
               send_command("right");
               break;

               case 40: // down
               send_command("down");
               break;

               case 13: // enter
               case 32: // space
               case 70: // 'f'
               send_command("fire");
               break;

               default: return; // exit this handler for other keys
            }
            e.preventDefault(); // prevent the default action (scroll / move caret)
         });
      });
    </script>
  </head>
  <body style="background-color: #CCCCCC">
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h5><small><span id="fps_counter"></span> fps</small></h5>
          <div class="cameraContainer">
            <div data-id="0" class="camera stream">
              <canvas width="800" height="600" id="camera_canvas" class="camera"></canvas>
            </div>
          </div>
        </div>


        <div class="col-md-1" height="40px">
          &nbsp;
        </div>

        <div class="col-md-3">
          <table border="0" class="center" width="100%">
            <tr>
              <td width="33%">&nbsp;</td>
              <td width="33%"><input style="width: 100%" class="btn btn-lg btn-success"  id="up" name="up" type="button" value="Up" \></td>
              <td width="33%">&nbsp;</td>
            <tr>
            <tr>
              <td width="33%"><input style="width: 100%" class="btn btn-lg btn-success"  id="left" name="left" type="button" value="Left" \></td>
              <td width="33%"><input style="width: 100%" class="btn btn-lg btn-danger"  id="fire" name="fire" type="button" value="Fire" \></td>
              <td width="33%"><input style="width: 100%" class="btn btn-lg btn-success"  id="right" name="right" type="button" value="Right" \></td>
            <tr>
            <tr>
              <td width="33%">&nbsp;</td>
              <td width="33%"><input style="width: 100%" class="btn btn-lg btn-success"  id="down" name="down" type="button" value="Down" \></td>
              <td width="33%">&nbsp;</td>
            <tr>
          </table>
        </div>
      </div><!-- /.container -->

    <script src="{{ url_for('static', filename='socketio.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>
